* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.one {
    height: 665px;
    background-color: #FFB8CA;
    position: relative;
}

body {
    font-family: "Titan One", sans-serif;
    font-weight: 990;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #FFB8CA;
    color: white;
    font-weight: 300;
    padding: auto;
    position: relative;
}

li {
    list-style: none;
}

.center {
    width: 100%;
}

.nav-byn {
    cursor: pointer;
    border-radius: 25px;
    /* position: 10px 20px; */
    background-color: white;
    border: none;
    font-size: 20px;
    height: 50px;
    width: 150px;
    color: #D41443;

}

.hero {
    height: 665px;
    width: 1, 290px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    background-color: #FFB8CA;

}

.left {
    /* padding: 120px; */
    padding-top: 110px;
    font-family: "Titan One", sans-serif;
    padding-left: 50px;
}

.left h2 {
    color: white;
    font-size: 45px;
    line-height: 55px;
    font-family: "Titan One", sans-serif;
}

.left h1 {
    color: #c5004f;
    font-size: 80px;
    font-weight: bolder;
    font-family: "Titan One", sans-serif;
}


.red {
    background: #c5004f;
    color: white;
    border: none;
    /* padding:12px 28px; */
    border-radius: 30px;
    width: 150px;
    height: 50px;
    font-family: "Titan One", sans-serif;
    margin-left: 20px;
}

.white {
    font-family: "Titan One", sans-serif;
    background: white;
    color: #c5004f;
    width: 150px;
    height: 50px;
    border: none;
    /* padding:12px 28px; */
    border-radius: 30px;
    margin-left: 20px;
}

.circle {
    display: flex;
    left: 50%;
    transform: translateX(35%);
    width: 500px;
    height: 500px;
    background: #f79cc3;
    border-radius: 50%;
    margin-bottom: 100px;
}

.circle img {
    width: 250px;
}

.right {
    text-align: center;
    padding: 100px;
    margin-bottom: 300px;
    font-family: "Poppins" sans-serif;
}

.right h1 {
    font-size: 60px;
    color: #c5004f;
    margin: 30px 0;

}

img {
    margin-left: 100px;
}

p {
    color: white;
    font-size: large;
}

img {
    margin-right: 30px;
}

.milk,
.mon {
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.sd {
    margin-top: 70px;
    color: white;
}

.aro {
    margin-left: 30px;
}

.girl {
    position: absolute;
    right: 40px;
    bottom: 0;
}

.girl img {
    width: 270px;
}

.sd {
    width: 170px;
    height: 78px;
    font-size: 14px;
    font-weight: 400;
}

.sixteen {
    position: absolute;
    width: 54px;
    height: 53px;
    top: 160px;
    left: 84.8%;
    font-family: Titan One;
    font-size: 46px;
    letter-spacing: 4;
    text-align: right;
    color: #D41443;
    z-index: 1;
}

.white-circle-1 {
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    top: 156px;
    left: 88%;
    background-color: #ffffff;
}

.cafes {
    position: absolute;
    width: 35px;
    height: 18px;
    top: 215px;
    left: 86.2%;
    font-family: DM sans;
    font-size: 14px;
    text-align: right;
    color: #ffffff;
}

.twentythree {
    position: absolute;
    width: 120px;
    height: 89px;
    top: 248px;
    left: 83.2%;
    font-family: Titan One;
    font-size: 46px;
    letter-spacing: 4;
    text-align: center;
    color: #D41443;
    z-index: 2;
}

.white-circle-2 {
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    top: 248px;
    left: 88%;
    background-color: #ffffff;
}

.food-trucks {
    position: absolute;
    width: 74px;
    height: 18px;
    top: 306px;
    left: 85.2%;
    font-family: DM sans;
    font-size: 14px;
    color: #ffffff;
    text-align: right;
    ;
}

.lorem-text {
    position: absolute;
    font-family: Titan One;
    top: 495px;
    width: 250px;
    height: 78px;
    left: 28%;
    color: white;
    font-family: DM sans;
    font-size: 18px;
    z-index: 3;
    margin-top: 45px;
}

.aro {
    position: absolute;
    top: 583px;
    left: 28%;
    margin-top: 45px;
}

.natural {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D41443;
    font-family: Titan One;
    font-size: 30px;
    letter-spacing: 4px;
    opacity: 0.6;
    margin-top: 50px;
    top: 90px;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D41443;
    font-family: Titan One;
    font-size: 58px;
    letter-spacing: 6px;
    margin-top: 20px;
}


.card-section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
 justify-content: center;
}



.cardone {
    height: 700px;
    width: 375px;
    background-color: #FFB8CA;
    border-radius: 30px;
    margin-top: 200px;
    /* margin-left: 90px; */
    position: relative;
}

img.yu {
    position: absolute;
    bottom: 550px;
    left: 50%;
    width: 350px;
    transform: translateX(-80%);
    
}

h1.onecard {
    text-align: center;
    margin-top: 250px;
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    letter-spacing: 9px;
    font-size: 40px;
    color: white;
}

.card-lorem {
    margin-top: 35px;
    font-size: 24px;
    text-align: center;
    /* line-height: 1.6; */
    font-family: DM sans;
    color: white;
    margin-right: 30px;
}

.arow {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-right: 50px;
    font-size: larger;
}

img.tp {
    position: absolute;
    bottom: 550px;
    left: 50%;
    width: 350px;
    transform: translateX(-80%);
}

.cardtwo {
    height: 700px;
    width: 375px;
    background-color: #F0D1A5;
    border-radius: 30px;
    margin-top: 200px;
    position: relative;
}

h1.twocard {
    text-align: center;
    margin-top: 250px;
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
}

h1.threcard {
    text-align: center;
    margin-top: 250px;
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
}

.cardthre {
    height: 700px;
    width: 375px;
    background-color: #C2E297;
    border-radius: 30px;
    margin-top: 200px;
    position: relative;
}

img.to {
    position: absolute;
    bottom: 550px;
    left: 50%;
    width: 350px;
    transform: translateX(-80%);
}
.dobara{
    text-align: center;
    margin-top: 110px;
    background-color: #FFF5F6;
   height: 230px;
}
.how{
    position: relative;
    top: 45px;
    font-size:35px ;
    color: #cc5e79;
}
.made{
     position: relative;
    top:50px;
    font-size: 50px;
    color: #D41443;
    letter-spacing: 7px;
}

/* .thrad {
    text-align: center;
    color: #cc5e79;
    margin-top: 250px;
    letter-spacing: 7px;
    font-size: 25px;
}
.lp{
   margin-top: 150px;
   text-align: center;

}


.second {
    color: #D41443;
    letter-spacing: 7px;
    text-align: center;
    font-size: 50px;
   margin-top: 90px;
} */

.box {
    display: flex;
}

.ter {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 50px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.box img {
    width: 700px;
    height: 700px;
}

.mun {
    font-family: DM sans;
    font-weight: 500;
    font-size: 19px;
    padding: 10px;
}

.muz {
    font-family: DM sans;
    font-weight: 500;
    font-size: 19px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mud {
    font-family: DM sans;
    font-weight: 500;
    font-size: 19px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rt {
    cursor: pointer;
    border-radius: 25px;
    background-color: white;
    border: none;
    font-size: 20px;
    height: 50px;
    width: 150px;
    color: #D41443;
}

.traditional-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.traditional-card {
    margin: 0 auto;
    display: grid;
    max-width: 330px;
    height: 222px;
}

.traditional-card img {
    width: 33px;
    height: 50px;
}

.traditional-card h1 {
    margin-top: 25px;
    font-family: Titan One;
    font-weight: 400;
    font-size: 78px;
    text-align: left;
    color: #D41443;
}

.traditional-card {
    margin-top: 20px;
    font-family: DM sans sans-serif;
    font-size: 19px;
    font-weight: 800;
}

.tes {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


.tes img {
    width: 90%;
}
.akri img {
    margin: 0 50%;
    margin-top: 100px;
    border-radius: 50%;
}

a.sp {
    justify-content: center;
    display: flex;
    font-family: DN sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    opacity: 0.7;
    margin-top: 20px;
    padding: 20px;
}

.pera {
    font-family: DN sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    opacity: 0.7;
    margin-top: 20px;
    padding: 20px;
}

i {
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    color: #D41443;
    font-size: large;
}

.last {
    text-align: center;
    font-weight: 30;
    margin-top: 20px;
    opacity: 0.7;
}

.textsection {
    background-color: #FFF5F6;
}

.home {
    display: flex;
    justify-content: center;
    margin-top: 24px;

}

.gol {
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 4px;
    margin-bottom: 7px;
}



.last-section {
  background-color: #FFF5F6;
}

.bottom-cards {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 150px;
  flex-wrap: wrap;
    margin-top: 100px;
}

.bottom-card {

  background-color: #ffffff;
  border-radius: 24px;
  padding: 56px 40px;
  box-shadow: 5px 10px 20px 10px rgba(0, 0, 0, 0.1);
}

.bottom-card hr {
  opacity: 0.4;
  margin-top: 15px;
  background: #E1E1E1;
}

.card-content {
  max-width: 243px;
  font-family: DM sans;
}

.card-head button {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 3px 12px;
  background-color: #F0D1A5;
  border-radius: 6px;
  border: none;
}

.card-head h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}

.card-head p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #907E82;
  margin: 12px 0;
}

.card-hero h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  color: #000000;
  margin-top: 20px;
}

.card-hero span {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  color: #FFA5BA;
}

.card-foot {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  margin-top: 20px;
  color: #907E82;
  opacity: 0.9;
}

.bottom-btns {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.location-btn {
  background-color: #D41342;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 35px;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

}
.location-btn  span{
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.franchise-btn {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 35px;
  cursor: pointer;
  margin-left: 20px;
  color: #D41342;
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border: none;
}
.franchise-btn  span{
  color: #D41342;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  padding: 100px 0;
  flex-wrap: wrap;
}

.heading-div {
  max-width: 490px;
  height: 115px;
}

.light {
  font-family: Titan One;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1px;
  color: #FFA5BA;
}

.dark {
  font-family: Titan One;
  font-weight: 400;
  font-size: 58px;
  color: #D41443;
  letter-spacing: 4px;
  margin-top: 20px;
}

.icon-div {
  max-width: 320px;
  height: 115px;
  text-align: right;
  padding: 15px 0;
}

.icon-div i {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #FEA5BB;
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.last-p {
  font-family: DM sans;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-top: 40px;
}

.last-p span {
  color: #D41342;
}

footer {
  background-color: #FFF5F6;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid rgb(196, 196, 196);
  font-weight: 3;
}
